{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/program.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/exercises.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/advices.css' %}">
    <link rel="stylesheet" href="{% static 'css/coaching.css' %}">
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    <link rel="stylesheet" href="{% static 'css/programpers.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if title %}
        <title>fit with ramzi-{{title}}</title>
    {% else %}
        <title>fit with ramzi</title>
    {% endif %}
    <script type="text/javascript">
       

        //csrf token 
        function getToken(name){
            var cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie = cookies[i].trim()
                    //does this cookie begins with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')
    </script>   

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet"> 
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="ybwvWpFw"></script>

    <div class="main">
        
         
        {% comment %} <div class="head">
            <nav>
                
                <div class="contact">+213791517930</div>
                <div class="languages-available">
                    <select  id="select">
                        <option value="english">English</option>
                        <option value="français">Français</option>
                        <option value="العربية"> العربية</option>
                    </select>
                </div>
            </nav>
            <nav class="main-nav">
                <div class="logo">RsFitness</div>
                <div class="list ">
                   <ul>
                        
                   </ul>
                </div>
            </nav>
            
                
        
        </div> {% endcomment %}

        
             <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="far fa-clock"></i>
                                <h2>8:00 - 9:00</h2>
                                <p>Mon - Fri</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <h2>+123 456 7890</h2>
                                <p>For Appointment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Fitness<span>With</span>Ramzi</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'home' %}"  class="nav-item nav-link active">Home</a> 
                        <a href="{% url 'program' %}" class="nav-item nav-link">Workout </a> 
                        <a href="{% url 'gallery' %}" class="nav-item nav-link">Gallery</a> 
                        <a href="{% url 'advices' %}" class="nav-item nav-link">Advices</a> 
                        <a href="{% url 'coaching' %}" class="nav-item nav-link">Contact</a> 
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a> 
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
               
            {% block slide %}

            {% endblock slide %}
                
       
        
            {% block content %}

            {% endblock content %}
               
      

    </div>
     <!-- Footer Start -->
     <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <a href="index.html" class="footer-logo">Fitness<span>with</span>ramzi</a>
                    <h3>el-houjebat, Tébessa, ALG</h3>
                    <div class="footer-menu">
                        <p>+012 345 67890</p>
                        <p>info@example.com</p>
                    </div>
                    <div class="footer-social" style="display:flex">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Fitness with ramzi</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Made with love By <a href="https://htmlcodex.com">E-service</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/main.js' %}" ></script>
    <script src="{% static 'js/api.js' %}" ></script>
    <script src="{% static 'js/three.min.js' %}"></script>
    <script src="{% static 'js/tweenMax.min.js' %}"></script>
    <script src="{% static 'js/hoverEffect.umd.js' %}"></script>
    <script src="{% static 'js/hover.js' %}"></script>
</body>
</html>