{% extends 'pages/base.html' %}
{% load static %}



{% block content %}
<div class="ex block formula">
   
    <h1>Online Coaching With Ramzi</h1>
    <br>
    <div class="ex-cont">
        <p>don't hesitate to contact us</p>
       <h2>Contact Us Formula</h2>
        <div class="user-contact">

            <form method="post">
                {% csrf_token %}
            <div class="personal-info">
                <label for="text">
                    
                    Full Name:{{form.fullname}}
                </label>
                
                <label for="email">
                    
                    Email:{{form.email}}
                </label>
                
                <label for="text">
                    Date of birth:{{form.birthday}}
                </label>
                
                <label for="">Sexe:
                    <div class="checkbox">
                        <label for="checkbox">
                            Male {{form.sexe_male}}
                        </label>
                        <label for="checkbox">
                            Female {{form.sexe_female}}
                        </label>
                    </div>
                </label>
    
                <label for="text">
                    Address:{{form.address}}
                </label>
                <label for="text">
                    City:{{form.city}}
                </label>
                <label for="text">
                    Phone Number:{{form.phone_number}}
                </label>
                <label for="text">
                    Subject: {{form.subject}}
                </label>
            </div>
           <p class="message">Please Check Your Informations Before Sending Them</p>
        </div>
        <div class="send">
            <input type="submit" style="background: #9EDE73; height: 7vh; margin-top:4vh" class="gear-button" value="Send">
            </form>
        </div>





    </div>






</div>


{% endblock content %}