{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Contact</a>
            </div>
        </div>
    </div>
</div>
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Get In Touch</p>
                    <h2>For Any Query</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.2s">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="contact-text">
                                    <h2>Location</h2>
                                    <p>123 Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.4s">
                                <i class="fa fa-phone-alt"></i>
                                <div class="contact-text">
                                    <h2>Phone</h2>
                                    <p>+012 345 67890</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item wow zoomIn" data-wow-delay="0.6s">
                                <i class="far fa-envelope"></i>
                                <div class="contact-text">
                                    <h2>Email</h2>
                                    <p>info@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form method="post" name="sentMessage" id="contactForm" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="control-group">
                                    {{form.fullname}}
                                    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.email}}
                                    {% comment %} <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.birthday}}
                                    {% comment %} <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.phone_number}}
                                    {% comment %} <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                
                                <div class="control-group">
                                    {<div class="checkbox">
                                        <label for="checkbox" style="color:gray">
                                            Male {{form.sexe_male}}
                                        </label>
                                        <label for="checkbox"  style="color:gray">
                                            Female {{form.sexe_female}}
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    {{form.address}}
                                    {% comment %} <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.city}}
                                    {% comment %} <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.subject}}
                                    {% comment %} <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.pull}}
                                    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.push}}
                                    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.dlift}}
                                    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    {{form.squat}}
                                    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" /> {% endcomment %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                 
                                <p class="message">Please Check Your Informations Before Sending Them</p>
                                <div>
                                    <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

{% endblock content %}
        