{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
       <div class="login-cont ">
           <div class="login-img">
            <img src="" alt="">
           </div>

           <div class="login login-div">
               <h2>Log In</h2>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="gear-button" type="submit">Log In</button>
            </form>
            <a href="{% url 'coaching' %}"><p>If You Don't Have An Account , Contact Us First!</p></a>
        </div>

       </div>
        
       
{% endblock content %}