{% extends "pages/base.html" %}
{% load static %}




{% block content %}
<div class="ex block">
    <div class="choose">
        <h4>Nutrition for:</h4>
        <select  id="slctex">
            <option value="All">All</option>
            {% for nut in nutritiontype %}
            <option value="{{nut}}">{{nut}}</option>
            {% endfor %}
        </select>
    </div>
    <h1>Nutrition Program</h1>
    
            
       
        <div class="ex-cont">
        
        
                {% for nut in nutritionp %}
                    <h3>{{nut.programType.name}} Program</h3>
                        
                    <div class="ex-div">
                        <div class="ex-image">
                            <img src="/{{nut.image.url}}" alt="">
                        </div>
                        <div class="ex-text">
                            <div class="ex-text-title"><h3>{{nut.programName}} exercises</h3></div>
                            <div class="ex-text-text"><p>{{nut.desc}}</p></div>
                            <a href="{% url 'programwktpublicDet' nut.id %}"><div class="seemore">See More</div></a>
                        </div>
                    </div>
                
                {% endfor %}
            

        </div>
       

        


       
   






</div>

    
       
{% endblock content %}