{% extends "pages/base.html" %}
{% load static %}




{% block content %}
<div class="ex block">
    <div class="choose">
        <h4>Nutrition for:  {{aimingfor}}
    </div>
    <h1> Personal Nutrition Program</h1>
    
            
       
        <div class="ex-cont">
        
        
                {% for nut in nutritions %}
                    
                        
                    <div class="ex-div">
                        <div class="ex-image">
                            <img src="/{{nut.image.url}}" alt="">
                        </div>
                        <div class="ex-text">
                            <div class="ex-text-title"><h3>Meal N°{{nut.repanum}}</h3></div>
                            <div class="ex-text-text"><p>{{nut.content}}</p></div>
                        </div>
                    </div>
                
                {% endfor %}
            

        </div>
       

        


       
   






</div>

    
       
{% endblock content %}