{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <div class="personal-program">
        <h1>Personal Program Workout</h1>
        <div class="personal-prog-cont shadow">
            <h2>Day 1</h2>
            
                
                   <div class="pers-prog-div">
                        <h3>1-First Nut</h3>
                        <br>
                        <div class="pers-prog-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Delectus labore, temporibus architecto hic nostrum officia
                              alias, nihil est at quae sequi natus pariatur optio et quibusdam
                               quam, quis blanditiis doloribus!
                               consectetur adipisicing elit.
                             Delectus labore, temporibus architecto hic nostrum officia
                              alias, nihil est at quae sequi natus pariatur optio et quibusdam
                              consectetur adipisicing elit.
                             Delectus labore, temporibus architecto hic nostrum officia
                              alias, nihil est at quae sequi natus pariatur optio et quibusdam
                               quam, quis blanditiis doloribus!
                               quam, quis blanditiis doloribus!
                        </div>
                        <div class="pers-prog-img">
                            <img src="/{{object.image1.url}}" alt=""> 
                                                   
                        </div>
                   </div>

        </div>

    </div>
    

{% endblock content %}