{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <div class="thank shadow">
        <div class="thank-cont">
            <h1>Thanks!</h1>
            <h3>Thank You - Your Account Will Be seted Up As soon As Possible</h3>
            <span>You Will Recieve  An Email Once We set Up Your Account</span>

            <br>
            <p>The Email Contains Your Username And Password, these can't be changed Unless You've Contact Us</p>
            
        </div>
    </div>
{% endblock content %}